<header>
  HEADER
</header>
<table>
  <tr>
   <td style="width: 25%;">
    <nav>
      <ul>
        <li>
          <a routerLink="/" >  Accueil</a>
        </li>
        <li>
          <a  routerLink="admin">  Administration</a>
        </li>
        <li>
          <a  routerLink="articles"> Articles      
          </a>
        </li>
        <li>
          <a  routerLink="produits"> Produits</a>         
        </li>
       
      </ul>
    
    </nav>


   </td>

   <td style="width: 75%;">
    <main>
      <router-outlet></router-outlet>
      </main>

   </td>

  </tr>


</table>







<footer>
  FOOTER
</footer>